/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};

	soc {
		/delete-node/ memory@20000000;

		nrf_kmu_reserved_push_area: memory@20000000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x20000000 0x60>;
			zephyr,memory-region = "nrf_kmu_reserved_push_area";
			status = "okay";
		};

		cpuapp_sram: memory@20000060 {
			compatible = "mmio-sram";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x20000060 0x3ffa0>;
			ranges = <0x0 0x20000060 0x3ffa0>;
			status = "okay";
		};
	};
};

&uart20 {
	status = "disabled";
};

&spi00 {
	zephyr,pm-device-runtime-auto;
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 200)>;
		zephyr,resolution = <12>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,input-negative = <NRF_SAADC_GND>;
	};
};
