/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};
};

&uart20 {
	status = "disabled";
};

&spi00 {
	zephyr,pm-device-runtime-auto;
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 200)>;
		zephyr,resolution = <12>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,input-negative = <NRF_SAADC_GND>;
	};
};
